:root,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #494a4a;
  font-family: MaisonNeue-Book, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
}

/* overriding outline bootstrap for more feels mobile experience */
button:focus {
  outline: 0 !important;
}

header {
  font-size: 1rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 11;
  max-width: unset;
  background-color: #fff;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.header__menu {
  height: 56px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width:769px) {
  .header__menu {
    height: 80px;
    padding: 0;
  }

  .header__logo {
    margin-right: 3.2rem;
  }
}

.header__logo img {
  max-height: 24px;
}

@media screen and (min-width:769px) {
  .header__logo img {
    max-height: 28px;
  }
}


.header__link {
  line-height: 1.5;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header__link>.header__link-item {
  margin-right: 32px;
}

.header__link>.header__link-item.active>a {
  font-family: MaisonNeue-Bold, sans-serif;
}


.header__link>.header__link-item.active>.header-link__sub {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
  overflow-y: scroll;
  height: 74%;
}

.header__link>.header__link-item:last-child {
  margin-right: 0;
}


.header__link>.header__link-item .i {
  vertical-align: middle;
  font-size: 18px;
  width: 18px;
  margin-left: 4px;
  display: inline-block;
  -webkit-transition: -webkit-transform .5s cubic-bezier(.4, 0, .2, 1);
  -moz-transition: transform .5s cubic-bezier(.4, 0, .2, 1), -moz-transform .5s cubic-bezier(.4, 0, .2, 1);
  transition: transform .5s cubic-bezier(.4, 0, .2, 1);
  transition: transform .5s cubic-bezier(.4, 0, .2, 1), -webkit-transform .5s cubic-bezier(.4, 0, .2, 1), -moz-transform .5s cubic-bezier(.4, 0, .2, 1);
}

.header__link>.header__link-item.active .i,
.header__link>.header__link-item.header__link-item__lang .i,
.header__link>.header__link-item.header__link-item__lang.active .i {
  display: inline-block;
  -webkit-transition: all .5s cubic-bezier(.4, 0, .2, 1);
  -moz-transition: all .5s cubic-bezier(.4, 0, .2, 1);
  transition: all .5s cubic-bezier(.4, 0, .2, 1);
}

.header__link>.header__link-item .i,
.header__link>.header__link-item.active .i,
.header__link>.header__link-item.header__link-item__lang .i {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.header__link>.header__link-item.active .i,
.header__link>.header__link-item.header__link-item__lang.active .i {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.header__link>.header__link-item.active a {
  color: #00aa13;
}

@media screen and (min-width:769px) {
  .header__link-icon {
    padding-right: 4px;
  }
}

.row {
  /* overriding -15px of bootstrap margin-left and margin-right on class row */
  margin-right: 0;
  margin-left: 0;
}

.header~main.component-wrapper,
section.c-hero {
  margin-top: 3.5rem;
}


@media screen and (min-width:769px) {
  .header.active {
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
  }
}

@media screen and (max-width:768px) {
  .header>.container {
    margin: 0 auto;
  }
}

.header__link-item a {
  color: #1c1d1d;
  -webkit-transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
  text-decoration: none;
}

.header-link__sub {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  max-width: 100vw;
  max-width: 100vw;
  padding: 0 var(--language-right) !important;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  background-color: #f7f7f7;
  top: 80px;
  left: 0;
  right: 0;
  list-style-type: none;
  pointer-events: none;
}

.header-link__sub:before {
  content: "";
  position: fixed;
  top: 78px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2);
  z-index: 11;
}

.header-link__sub>li {
  padding-top: 16px;
}

.header-link__sub>li:nth-child(2),
.header-link__sub>li:nth-child(3) {
  padding-left: 32px;
}

.header-link__sub>li:nth-child(2) {
  background-color: #fff;
}

.header-link__sub>li>.header-link__sub-item:nth-child(n+1):after {
  position: absolute;
  content: '';
  height: 1px;
  width: 159px;
  background-color: #bbb;
  bottom: 0;
  left: 0;
}

.header-link__sub>li>.header-link__sub-item:last-child:after {
  content: '';
  height: 0;
}

.header-link__sub-title {
  color: #1c1d1d;
  font-size: 18px;
  line-height: 24px;
}

.header-link__sub-item {
  position: relative;
  list-style-type: none;
  margin: 0 0 32px;
  padding: 24px 0 0;
}

.header-link__sub-item:last-child {
  margin-bottom: 0;
}

.header-link__sub-item>li {
  padding-bottom: 24px;
}

.header-link__sub-item>li img {
  max-width: 118px;
}

.header-link__sub-item>li:last-child {
  padding-bottom: 32px;
}

@media screen and (min-width:769px) {
  .header~main.component-wrapper {
    margin-top: 5rem;
  }
}

.header__link-item a:hover,
.information__link:hover {
  color: #00aa13;
}


@media screen and (max-width:768px) {

  .u-hide--tablet,
  .u-hide--tablet.flex {
    display: none !important;
  }

  .u-hide--tablet.active {
    display: block !important;
  }
}


.hamburger {
  padding: 15px 15px;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  display: block;
  overflow: hidden;
  height: auto;
  width: 51px;
  position: fixed;
  right: 0;
  z-index: 14;
  margin-right: .5rem;
  top: 0;
}


@media screen and (min-width:768px) {
  .hamburger {
    margin-right: 1.5rem
  }
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}


.hamburger-box {
  width: 25px;
  height: 14px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner::before {
  width: 18px !important;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  right: 0;
  width: 25px;
  height: 2px;
  background-color: #00aa13;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.35s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 9px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 18px;
  transition: transform 0.175s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: transform 0.175s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: transform 0.175s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: transform 0.175s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: transform 0.175s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
  background-color: #00aa13;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -18px, 0) rotate(-270deg);
  background-color: white;
  transition-delay: 0.175s;
  -webkit-transform: translate3d(0, -18px, 0) rotate(-270deg);
  -moz-transform: translate3d(0, -18px, 0) rotate(-270deg);
  -ms-transform: translate3d(0, -18px, 0) rotate(-270deg);
  -o-transform: translate3d(0, -18px, 0) rotate(-270deg);
}


/* Sidebar */

.mobile-navigation {
  width: 0;
  position: fixed;
  z-index: 13;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #00aa13;
  overflow: hidden;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
  -webkit-transform: translateX(-0%);
  -moz-transform: translateX(-0%);
  -ms-transform: translateX(-0%);
  transform: translateX(-0%);
  -webkit-transition: all 250ms 100ms cubic-bezier(.4, 0, .2, 1);
  -moz-transition: all 250ms 100ms cubic-bezier(.4, 0, .2, 1);
  transition: all 250ms 100ms cubic-bezier(.4, 0, .2, 1);
  pointer-events: unset; 
}

.mobile-navigation__wrapper {
  padding: 0px 16px 16px;
}

.mobile-navigation__logo--container {
  height: 56px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width:768px) {
  .mobile-navigation__wrapper {
    padding: 0px 42px 42px;
  }
  .mobile-navigation__logo--container {
    height: 80px;
    padding: 0;
  }

  .mobile-navigation__logo {
    margin-right: 3.2rem;
  }
}

.mobile-navigation__logo img {
  max-height: 24px;
}

@media screen and (min-width:768px) {
  .mobile-navigation__logo img {
    max-height: 28px;
  }
}

.mobile-navigation a:hover {
  text-decoration: none;
  color: #fff;
}

.mobile-navigation hr {
  margin-top: 0;
  border-color: white;
  width: 91vw;
  position: fixed;
  left: 4vw;
}

.mobile-language {
  font-size: 21px;
  color: #fff;
  line-height: 28px;
}

.mobile-language__title-icon {
  display: inline-block;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  vertical-align: middle;
  font-size: 24px;
  line-height: 28px;
  width: 24px;
  -webkit-transition: -webkit-transform 100ms;
  -moz-transition: transform 100ms, -moz-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms, -moz-transform 100ms;
}


i {
  font-family: "gojekicon" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.mnav-tree__container, .mnav-tree__list {
  display: flow-root;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}

.mnav-tree__list {
  margin: 0;
  padding: 0;
  height: -moz-calc(100vh - 56px);
  height: calc(100vh - 56px);
  background-color: #00aa13;
  list-style: none;
}

.mnav-tree-item {
  margin-left: 2rem;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 1.5rem;
}


.mnav-tree-item--root {
  margin-left: 0;
  font-size: 21px;
  line-height: 28px;
}

.mnav-tree-item a {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: 0.3s;
}


@font-face {
  font-family: MaisonNeue-Book;
  src: url(/media/fonts/maison-neue/MaisonNeue-Book.woff2) format("woff2"), url(/media/fonts/maison-neue/MaisonNeue-Book.woff) format("woff"), url(/media/fonts/maison-neue/MaisonNeue-Book.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MaisonNeue-Bold;
  src: url(/media/fonts/maison-neue/MaisonNeue-Bold.woff2) format("woff2"), url(/media/fonts/maison-neue/MaisonNeue-Bold.woff) format("woff"), url(/media/fonts/maison-neue/MaisonNeue-Bold.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MaisonNeue-BookItalic;
  src: url(/media/fonts/maison-neue/MaisonNeue-BookItalic.woff2) format("woff2"), url(/media/fonts/maison-neue/MaisonNeue-BookItalic.woff) format("woff"), url(/media/fonts/maison-neue/MaisonNeue-BookItalic.otf) format("opentype");
  font-weight: 400;
  font-style: italic;
  font-style: normal;
}

@font-face {
  font-family: MaisonNeue-Demi;
  src: url(/media/fonts/maison-neue/MaisonNeue-Demi.woff2) format("woff2"), url(/media/fonts/maison-neue/MaisonNeue-Demi.woff) format("woff"), url(/media/fonts/maison-neue/MaisonNeue-Demi.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MaisonNeueExtended-Bold;
  src: url(/media/fonts/maison-neue/MaisonNeueExtended-Bold.woff2) format("woff2"), url(/media/fonts/maison-neue/MaisonNeueExtended-Bold.woff) format("woff"), url(/media/fonts/maison-neue/MaisonNeueExtended-Bold.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gojekicon;
  src: url(../media/fonts/gojekicon/gojekicon.eot?ry4xn2);
  src: url(../../fonts/gojekicon/gojekicon.eot?ry4xn2#iefix) format("embedded-opentype"), url(../media/fonts/gojekicon/gojekicon.ttf?ry4xn2) format("truetype"), url(../../fonts/gojekicon/gojekicon.woff?ry4xn2) format("woff"), url(../../fonts/gojekicon/gojekicon.svg?ry4xn2#gojekicon) format("svg");
  font-weight: 400;
  font-style: normal;
}

.i-icon-solid-gobills:before {
  content: "";
}

.i-icon-solid-gocar:before {
  content: "";
}

.i-icon-solid-gofood:before {
  content: "";
}

.i-icon-solid-golaundry:before {
  content: "";
}

.i-icon-solid-gopay:before {
  content: "";
}

.i-icon-solid-goplay:before {
  content: "";
}

.i-icon-solid-gopoint:before {
  content: "";
}

.i-icon-solid-goride:before {
  content: "";
}

.i-icon-solid-gosend:before {
  content: "";
}

.i-icon-solid-gotix:before {
  content: "";
}

.i-icon-gobills:before {
  content: "";
}

.i-icon-gocar:before {
  content: "";
}

.i-icon-gofood:before {
  content: "";
}

.i-icon-gojek:before {
  content: "";
}

.i-icon-golaundry:before {
  content: "";
}

.i-icon-gopay:before {
  content: "";
}

.i-icon-goplay:before {
  content: "";
}

.i-icon-gopoints:before {
  content: "";
}

.i-icon-goride:before {
  content: "";
}

.i-icon-gosend:before {
  content: "";
}

.i-icon-gotix:before {
  content: "";
}

.i-arrow-up:before {
  content: "";
}

.i-caret-down:before {
  content: "";
}

.i-caret-left:before {
  content: "";
}

.i-caret-right:before {
  content: "";
}

.i-caret-up:before {
  content: "";
}

.i-menu:before {
  content: "";
}

.i-close:before {
  content: "";
}

.i-location:before {
  content: "";
}

.i-arrow:before {
  content: "";
}

.i-facebook:before {
  content: "";
}

.i-instagram:before {
  content: "";
}

.i-twitter:before {
  content: "";
}

.i-web:before {
  content: "";
  color: #4a4a4a;
}

.i-youtube:before {
  content: "";
}

.i-tick:before {
  content: "";
  color: #0090da;
}

.i-arrow-left:before {
  content: "";
}

.i-arrow-right:before {
  content: "";
}

.i-globe:before {
  content: "";
}

.i-arrow-down:before {
  content: "";
}
